* {
    background: var(--color-primario);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --color-primario: white;
    --color-secundario: #b83232;
    --color-terciario: #faa967;
    --color-hover: #ffe2ca;
    --color-text-copiar: #e8e4e4;
    --creditos: #ffe2ca;
    --btn-desencriptar: #dbffcb;
    --font-creditos: #2b2a2a ;
}

.logo {
    padding-top: 3%;
    margin-left: 5%;
    width: 5%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: justify;
    gap: 7%;
}


.izquierda {
    width: 100%;
    margin-right: 25%;
}

.derecha{
    width: 100%;
}

section .mensaje {
    height: 300px
}

section .ojo {
    margin-top: 10px;
    color: var(--color-secundario);
}

.text-area {
    font-size: 32px;
}


.text-area, .mensaje {
    border: none;
    color: var(--color-secundario);
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--color-secundario) (0, 0, 0, 0.1);
    text-transform: lowercase;
}

.text-area:focus, .mensaje:focus {
    outline: none;
}

.mensaje {
    background: var(--color-primario);
    background-image: url("eyegreen.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    resize: none;
    font-size: 32px;
}

::placeholder {
    color: var(--color-secundario);
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 18px;
    width: 100%;
}

.btn-desencriptar, .btn-encriptar, .copiar {
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    gap: 2px;
}

.btn-encriptar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: 25px;
}

.btn-desencriptar{
    background-color: var(--btn-desencriptar);
    color: var(--color-secundario);
    font-size: 25px;
}

.copiar {
    background-color: var(--color-secundario);
    margin-top: 20px;
    color: var(--color-text-copiar);
    margin-left: 4%;
    font-size: 32px;
}

.informacion {
    color: var(--color-secundario);
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .botones {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
    }

    .mensaje {
        height: 300px;
    }

    .copiar {
        margin-top: 20px;
        margin-left: 50px;
        position: static;
    }
    
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 7px;
    }

    .text-area {
        width: auto;
    }

    .mensaje {
        width: auto;
        height: 400px;
        margin-left: 20px;
    }

    .botones {
        flex-direction: row;
        gap: 20px;
        align-self: flex-start;
        margin-left:   5%;
    }

    .copiar {
        width: 328px;
        align-self: flex-start;
        margin-left: 40px;
    }

}

.btn-desencriptar:hover{
    background-color: var(--color-terciario);
}

.btn-encriptar:hover{
    background-color: var(--creditos);
}

.copiar:hover{
    background-color: var(--color-text-copiar);
    color:  var(--color-secundario);
}

.creditos{
    background-color:  var(--creditos);
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-size: 20px;
    color: var(--font-creditos);
}